@model IEnumerable<PMSMVC.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Assets
{
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/buttons.flash.min.js"></script>
    <script src="~/assets/js/buttons.html5.min.js"></script>
    <script src="~/assets/js/buttons.print.min.js"></script>
    <script src="~/assets/js/buttons.colVis.min.js"></script>
    <script src="~/assets/js/dataTables.select.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
}

@section CustomJS
{
    <script src="~/assets/js/appoint-table.js"></script>

}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Rejected Appointment List</h3>

        <div class="clearfix">
            <div class="pull-left">
                <a href="@Url.Action("Index", "Appointment")" class="btn btn-link">
                    <i class="ace-icon fa fa-calendar bigger-120 green"></i> View Pending Appointment
                </a>
            </div>
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for "Rejected Appointment due to unpaid payments"
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="apoint-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Contact Number
                        </th>
                        <th class="hidden-480">
                            Payment
                        </th>

                        <th>
                            Appointment Date
                        </th>
                        <th>
                            Doctor ID
                        </th>
                        <th>
                            Doctor Name
                        </th>
                        <th class="hidden-480">
                            Status
                        </th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.AppoinmentID">
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ApmntName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApmntPhone)
                            </td>
                            <td class="hidden-480">
                                @Html.DisplayFor(modelItem => item.ApmntPayment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApmntDate)
                            </td>
                            <td class="hidden-480">
                                <span class="label label-sm label-warning">
                                    @Html.DisplayFor(modelItem => item.Doctor.DoctorCardID)
                                </span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
                            </td>
                            <td>
                                <a id="id-btn-dialog2" class="red" href="#">

                                    @if (item.Approved == true)
                                    {
                                        <span class="label label-info arrowed-in arrowed-in-right">
                                            Approved
                                        </span>
                                    }
                                    else if (item.Approved == false)
                                    {
                                        <span class="label label-warning">
                                            Rejected
                                        </span>
                                    }
                                    else
                                    {
                                        <span>Pending</span>
                                    }
                                </a>
                                <input type="hidden" id="apntmentID" />
                            </td>

                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="blue" href="@Url.Action("Details", "Doctor", new { id=item.AppoinmentID})">
                                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                    </a>

                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="@Url.Action("Details", "Appointment", new { id=item.AppoinmentID})" class="tooltip-info" data-rel="tooltip" title="View">
                                                    <span class="blue">
                                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>S
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>